@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Lato', sans-serif !important;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background-color: rgb(24, 25, 26);
  min-height: 100vh;
  color: white !important;
  scrollbar-width: none;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: overlay;
}

::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-corner,
::-webkit-resizer {
  display: none;
}

::-webkit-scrollbar-thumb {
  border: 3px solid transparent;
  background-clip: padding-box;
  border-radius: 16px;
  background-color: #919191;
}

.MuiMenu-paper {
  margin-top: 6px;
  background-color: rgb(43, 44, 45) !important;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  border: 1px solid rgb(80, 80, 80) !important;
  border-radius: 0.5rem !important;
  color: white !important;
}

#language-menu .MuiMenu-paper {
  top: 44px !important;
  left: 10px !important;
}

#user-menu .MuiMenu-paper {
  right: 12px !important;
  left: unset !important;
}

.MuiMenu-list {
  display: flex;
  flex-direction: column;
}

#post-menu .MuiMenu-list {
  padding: 8px !important;
}

.MuiMenuItem-root {
  font-family: 'Lato', sans-serif !important;
  all: unset;
  padding: 0 !important;
}

#language-menu .MuiMenuItem-root {
  padding: 0 8px !important;
}
